body {
	padding-top: 80px;
}

#navbar-1 ul li a {
	color:#fff;
	line-height: 80px;
	font-size: 14px;
	padding: 0 18px;
	outline: 0;
}

.cabecera {
	background-color: #4DB788;
	border: 0;
	margin-bottom: 0;
}

.cabecera .container-fluid .navbar-header a.navbar-brand {
	color:#fff;
	background-color: #332F3E;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 50px;
	height: 80px;
	width: 100px;
	margin-right: 20px;
	border-bottom: 1px solid #474646;
}

#cabecera-login {
	color:#fff;
	text-decoration: none;
	line-height: 80px;
	font-size: 14px;
	padding: 0 18px;
	outline: 0;
}

#contenido {

}

#fomulario-login {

}

.left-sidebar {
	background-color: #332F3E;
	width: 100px;
	height: 100%;
	left: 0;
	position: absolute;
}

.left-sidebar .content ul {
	margin: 0;
	padding: 0;
}

.left-sidebar .content ul li {
	border-bottom: 1px solid #474646;
	list-style: none;
}

.left-sidebar .content ul li a {
	color: #e1e1e1;
	display: block;
	padding: 15px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}

li{
	font-family: 'Signika', sans-serif;
	font-size: 20px;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
a.icon-block {
    display:inline-block;
    width:10em;
    float:left;
    text-align:center;
}

a.icon-block i,
a.icon-block span {
    display:block;
    width:100%;
    clear:both;
}

.btn-desadoptar {
	background-color:#ff0000;
	border-color:#800000;
}

.btn-desadoptar:hover {
	background-color:#800000;
	border-color:#660000;
}

.btn-registro-usuario {
	cursor: pointer;
	background: #90C3D4;
	height: 200px;
	border-radius: 25px;
	text-align: center;
}

.btn-registro-usuario:hover {
	background: #80AEBD;
}

.btn-registro-albergue {
	cursor: pointer;
	background: #E3815F;
	height: 200px;
	border-radius: 25px;
	text-align: center;
}

.btn-registro-albergue:hover {
	background: #CC7354;
}